.bigText {
  font-size: xx-large;
}

.flexDivStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexDivSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexDivEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hideDiv {
  display: none;
}

.addLog {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 500px;
  height: 100px;
  border: 1px solid grey;
  background-color: rgb(247, 184, 100);
}
